## KAGGLE TITANIC

### 1. Data Cleaning

In [40]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

In [41]:
data_train=pd.read_csv("data/train.csv")
data_train=shuffle(data_train,random_state=3)
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
395,396,0,3,"Johansson, Mr. Erik",male,22.0,0,0,350052,7.7958,NaN,S
85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3,0,3101278,15.8500,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.5500,NaN,S
542,543,0,3,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4,2,347082,31.2750,NaN,S
702,703,0,3,"Barbara, Miss. Saiide",female,18.0,0,1,2691,14.4542,NaN,C

In [42]:
cabin=data_train[['Cabin']]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder=OrdinalEncoder()
cabin_encoded=ordinal_encoder.fit_transform(cabin)
ordinal_encoder.categories_

[array(['A10', 'A14', 'A16', 'A19', 'A20', 'A23', 'A24', 'A26', 'A31',
        'A32', 'A34', 'A36', 'A5', 'A6', 'A7', 'B101', 'B102', 'B18',
        'B19', 'B20', 'B22', 'B28', 'B3', 'B30', 'B35', 'B37', 'B38',
        'B39', 'B4', 'B41', 'B42', 'B49', 'B5', 'B50', 'B51 B53 B55',
        'B57 B59 B63 B66', 'B58 B60', 'B69', 'B71', 'B73', 'B77', 'B78',
        'B79', 'B80', 'B82 B84', 'B86', 'B94', 'B96 B98', 'C101', 'C103',
        'C104', 'C106', 'C110', 'C111', 'C118', 'C123', 'C124', 'C125',
        'C126', 'C128', 'C148', 'C2', 'C22 C26', 'C23 C25 C27', 'C30',
        'C32', 'C45', 'C46', 'C47', 'C49', 'C50', 'C52', 'C54', 'C62 C64',
        'C65', 'C68', 'C7', 'C70', 'C78', 'C82', 'C83', 'C85', 'C86',
        'C87', 'C90', 'C91', 'C92', 'C93', 'C95', 'C99', 'D', 'D10 D12',
        'D11', 'D15', 'D17', 'D19', 'D20', 'D21', 'D26', 'D28', 'D30',
        'D33', 'D35', 'D36', 'D37', 'D45', 'D46', 'D47', 'D48', 'D49',
        'D50', 'D56', 'D6', 'D7', 'D9', 'E10', 'E101', 'E12', 'E121',
        'E17', 'E24', 'E25', 'E31', 'E33', 'E34', 'E36', 'E38', 'E40',
        'E44', 'E46', 'E49', 'E50', 'E58', 'E63', 'E67', 'E68', 'E77',
        'E8', 'F E69', 'F G63', 'F G73', 'F2', 'F33', 'F38', 'F4', 'G6',
        'T', nan], dtype=object)]

In [43]:
data_train[['Cabin']]=cabin_encoded
train_labels=data_train["Survived"]
data_train.loc[data_train['Sex'] =='male','s'] = 1 
data_train.loc[data_train['Sex'] =='female','s'] = 0
data_train=data_train.drop(['PassengerId','Name','Ticket','Embarked','Sex','Survived'],axis=1)
data_train.to_numpy()
data_train=np.nan_to_num(data_train)
train_labels.to_numpy()
train_examples=data_train
X = train_examples
y = train_labels

X_train, X_rem, y_train, y_rem = train_test_split(X,y, train_size=0.8)
X_valid, X_test, y_valid, y_test = train_test_split(X_rem,y_rem, test_size=0.5)
BATCH_SIZE = int((X_train.shape[0])/1000)

### TORCH IMPLEMENTATION BEGINS

In [44]:
import torch
import torch.nn as nn

In [45]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train= sc.fit_transform(X_train)
X_test= sc.fit_transform(X_test)
y_train=pd.Series.to_numpy(y_train)
y_test=pd.Series.to_numpy(y_test)

X_train=torch.from_numpy(X_train)
X_test=torch.from_numpy(X_test)
y_train=torch.from_numpy(y_train)
y_test=torch.from_numpy(y_test)
y_train = y_train.view(y_train.shape[0],1)
y_test = y_test.view(y_test.shape[0],1)

In [46]:
(n_samples,features)=X_train.shape
input_size=features
output_size=1

In [47]:
class training(nn.Module):

    def __init__(self,input):
        super(training,self).__init__()

        self.lin1=nn.Linear(input,input)
        self.lin2=nn.Linear(input,14)
        self.lin3=nn.Linear(14,7)
        self.lin4=nn.Linear(7,1)

    def forward(self,x):
        x=torch.relu(self.lin1(x))
        x=torch.relu(self.lin2(x))
        x=torch.relu(self.lin3(x))
        return torch.sigmoid(self.lin4(x))

In [48]:
model=training(input_size)

In [49]:
y_train.shape

torch.Size([712, 1])

In [50]:
learning_rate=0.01
optimizer=torch.optim.SGD(model.parameters(),lr=learning_rate)
criterion = nn.BCELoss()
num_epochs=25000
for epochs in range(num_epochs):
    y_pred=model(X_train.float())
    loss=criterion(y_pred.float(),y_train.float())

    loss.backward()

    optimizer.step()

    optimizer.zero_grad()

    if(epochs%100 == 0):
        print(f'epoch {epochs+1}, loss {loss.item():.4f} ')

epoch 1, loss 0.6767
epoch 101, loss 0.6701
epoch 201, loss 0.6671
epoch 301, loss 0.6651
epoch 401, loss 0.6633
epoch 501, loss 0.6613
epoch 601, loss 0.6591
epoch 701, loss 0.6566
epoch 801, loss 0.6534
epoch 901, loss 0.6495
epoch 1001, loss 0.6443
epoch 1101, loss 0.6374
epoch 1201, loss 0.6282
epoch 1301, loss 0.6156
epoch 1401, loss 0.5984
epoch 1501, loss 0.5755
epoch 1601, loss 0.5467
epoch 1701, loss 0.5152
epoch 1801, loss 0.4871
epoch 1901, loss 0.4672
epoch 2001, loss 0.4552
epoch 2101, loss 0.4479
epoch 2201, loss 0.4434
epoch 2301, loss 0.4403
epoch 2401, loss 0.4381
epoch 2501, loss 0.4365
epoch 2601, loss 0.4352
epoch 2701, loss 0.4341
epoch 2801, loss 0.4332
epoch 2901, loss 0.4325
epoch 3001, loss 0.4319
epoch 3101, loss 0.4313
epoch 3201, loss 0.4307
epoch 3301, loss 0.4302
epoch 3401, loss 0.4298
epoch 3501, loss 0.4293
epoch 3601, loss 0.4289
epoch 3701, loss 0.4285
epoch 3801, loss 0.4281
epoch 3901, loss 0.4278
epoch 4001, loss 0.4275
epoch 4101, loss 0.4272
epoch 4201, loss 0.4269
epoch 4301, loss 0.4266
epoch 4401, loss 0.4262
epoch 4501, loss 0.4259
epoch 4601, loss 0.4256
epoch 4701, loss 0.4253
epoch 4801, loss 0.4250
epoch 4901, loss 0.4246
epoch 5001, loss 0.4242
epoch 5101, loss 0.4239
epoch 5201, loss 0.4235
epoch 5301, loss 0.4231
epoch 5401, loss 0.4227
epoch 5501, loss 0.4223
epoch 5601, loss 0.4219
epoch 5701, loss 0.4215
epoch 5801, loss 0.4211
epoch 5901, loss 0.4207
epoch 6001, loss 0.4203
epoch 6101, loss 0.4198
epoch 6201, loss 0.4194
epoch 6301, loss 0.4189
epoch 6401, loss 0.4185
epoch 6501, loss 0.4180
epoch 6601, loss 0.4176
epoch 6701, loss 0.4171
epoch 6801, loss 0.4167
epoch 6901, loss 0.4162
epoch 7001, loss 0.4158
epoch 7101, loss 0.4153
epoch 7201, loss 0.4148
epoch 7301, loss 0.4143
epoch 7401, loss 0.4136
epoch 7501, loss 0.4130
epoch 7601, loss 0.4124
epoch 7701, loss 0.4118
epoch 7801, loss 0.4114
epoch 7901, loss 0.4109
epoch 8001, loss 0.4105
epoch 8101, loss 0.4100
epoch 8201, loss 0.4095
epoch 8301, loss 0.4091
epoch 8401, loss 0.4086
epoch 8501, loss 0.4080
epoch 8601, loss 0.4075
epoch 8701, loss 0.4069
epoch 8801, loss 0.4064
epoch 8901, loss 0.4059
epoch 9001, loss 0.4053
epoch 9101, loss 0.4046
epoch 9201, loss 0.4040
epoch 9301, loss 0.4033
epoch 9401, loss 0.4027
epoch 9501, loss 0.4020
epoch 9601, loss 0.4014
epoch 9701, loss 0.4007
epoch 9801, loss 0.4000
epoch 9901, loss 0.3994
epoch 10001, loss 0.3988
epoch 10101, loss 0.3982
epoch 10201, loss 0.3977
epoch 10301, loss 0.3971
epoch 10401, loss 0.3966
epoch 10501, loss 0.3961
epoch 10601, loss 0.3956
epoch 10701, loss 0.3951
epoch 10801, loss 0.3947
epoch 10901, loss 0.3942
epoch 11001, loss 0.3938
epoch 11101, loss 0.3934
epoch 11201, loss 0.3929
epoch 11301, loss 0.3925
epoch 11401, loss 0.3920
epoch 11501, loss 0.3916
epoch 11601, loss 0.3912
epoch 11701, loss 0.3907
epoch 11801, loss 0.3902
epoch 11901, loss 0.3898
epoch 12001, loss 0.3894
epoch 12101, loss 0.3891
epoch 12201, loss 0.3887
epoch 12301, loss 0.3883
epoch 12401, loss 0.3879
epoch 12501, loss 0.3875
epoch 12601, loss 0.3872
epoch 12701, loss 0.3869
epoch 12801, loss 0.3865
epoch 12901, loss 0.3862
epoch 13001, loss 0.3858
epoch 13101, loss 0.3854
epoch 13201, loss 0.3851
epoch 13301, loss 0.3847
epoch 13401, loss 0.3842
epoch 13501, loss 0.3837
epoch 13601, loss 0.3833
epoch 13701, loss 0.3828
epoch 13801, loss 0.3822
epoch 13901, loss 0.3817
epoch 14001, loss 0.3812
epoch 14101, loss 0.3806
epoch 14201, loss 0.3801
epoch 14301, loss 0.3796
epoch 14401, loss 0.3791
epoch 14501, loss 0.3785
epoch 14601, loss 0.3780
epoch 14701, loss 0.3775
epoch 14801, loss 0.3770
epoch 14901, loss 0.3765
epoch 15001, loss 0.3760
epoch 15101, loss 0.3756
epoch 15201, loss 0.3751
epoch 15301, loss 0.3747
epoch 15401, loss 0.3743
epoch 15501, loss 0.3739
epoch 15601, loss 0.3736
epoch 15701, loss 0.3733
epoch 15801, loss 0.3730
epoch 15901, loss 0.3726
epoch 16001, loss 0.3722
epoch 16101, loss 0.3719
epoch 16201, loss 0.3716
epoch 16301, loss 0.3713
epoch 16401, loss 0.3709
epoch 16501, loss 0.3706
epoch 16601, loss 0.3703
epoch 16701, loss 0.3700
epoch 16801, loss 0.3698
epoch 16901, loss 0.3695
epoch 17001, loss 0.3693
epoch 17101, loss 0.3691
epoch 17201, loss 0.3689
epoch 17301, loss 0.3687
epoch 17401, loss 0.3685
epoch 17501, loss 0.3682
epoch 17601, loss 0.3680
epoch 17701, loss 0.3678
epoch 17801, loss 0.3676
epoch 17901, loss 0.3675
epoch 18001, loss 0.3673
epoch 18101, loss 0.3670
epoch 18201, loss 0.3667
epoch 18301, loss 0.3665
epoch 18401, loss 0.3664
epoch 18501, loss 0.3662
epoch 18601, loss 0.3661
epoch 18701, loss 0.3659
epoch 18801, loss 0.3657
epoch 18901, loss 0.3656
epoch 19001, loss 0.3654
epoch 19101, loss 0.3653
epoch 19201, loss 0.3652
epoch 19301, loss 0.3651
epoch 19401, loss 0.3649
epoch 19501, loss 0.3648
epoch 19601, loss 0.3647
epoch 19701, loss 0.3646
epoch 19801, loss 0.3645
epoch 19901, loss 0.3643
epoch 20001, loss 0.3642
epoch 20101, loss 0.3640
epoch 20201, loss 0.3638
epoch 20301, loss 0.3637
epoch 20401, loss 0.3635
epoch 20501, loss 0.3634
epoch 20601, loss 0.3632
epoch 20701, loss 0.3631
epoch 20801, loss 0.3629
epoch 20901, loss 0.3627
epoch 21001, loss 0.3626
epoch 21101, loss 0.3625
epoch 21201, loss 0.3623
epoch 21301, loss 0.3622
epoch 21401, loss 0.3621
epoch 21501, loss 0.3620
epoch 21601, loss 0.3618
epoch 21701, loss 0.3617
epoch 21801, loss 0.3616
epoch 21901, loss 0.3615
epoch 22001, loss 0.3614
epoch 22101, loss 0.3612
epoch 22201, loss 0.3611
epoch 22301, loss 0.3609
epoch 22401, loss 0.3607
epoch 22501, loss 0.3605
epoch 22601, loss 0.3603
epoch 22701, loss 0.3600
epoch 22801, loss 0.3598
epoch 22901, loss 0.3596
epoch 23001, loss 0.3593
epoch 23101, loss 0.3590
epoch 23201, loss 0.3588
epoch 23301, loss 0.3586
epoch 23401, loss 0.3584
epoch 23501, loss 0.3581
epoch 23601, loss 0.3577
epoch 23701, loss 0.3573
epoch 23801, loss 0.3570
epoch 23901, loss 0.3567
epoch 24001, loss 0.3565
epoch 24101, loss 0.3562
epoch 24201, loss 0.3560
epoch 24301, loss 0.3557
epoch 24401, loss 0.3555
epoch 24501, loss 0.3553
epoch 24601, loss 0.3552
epoch 24701, loss 0.3550
epoch 24801, loss 0.3548
epoch 24901, loss 0.3547

In [51]:
with torch.no_grad():
    y_predicted=model(X_test.float())
    y_predicted_cls= y_predicted.round()
    acc = y_predicted_cls.eq(y_test).sum() / float(y_test.shape[0])
    print(f'Accuracy : {acc:.3f} ')

Accuracy : 0.800

### 3. CSV SUBMISSION

In [52]:
test=pd.read_csv("data/test.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [53]:
test=pd.read_csv("data/test.csv")
test_id=test["PassengerId"]
test.loc[test['Sex'] =='male','s'] = 1 
test.loc[test['Sex'] =='female','s'] = 0
cabin=test[['Cabin']]
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder=OrdinalEncoder()
cabin_encoded=ordinal_encoder.fit_transform(cabin)
test[['Cabin']]=cabin_encoded
test=test.drop(['Name','Ticket','Embarked','Sex','PassengerId'],axis=1)
test.head()

   Pclass   Age  SibSp  Parch     Fare  Cabin    s
0       3  34.5      0      0   7.8292    NaN  1.0
1       3  47.0      1      0   7.0000    NaN  0.0
2       2  62.0      0      0   9.6875    NaN  1.0
3       3  27.0      0      0   8.6625    NaN  1.0
4       3  22.0      1      1  12.2875    NaN  0.0

In [54]:
test.to_numpy()
test=np.nan_to_num(test)
test=torch.from_numpy(test)
with torch.no_grad():
    ans=model(test.float())
    ans= ans.round()

In [55]:
data=pd.DataFrame()
data.insert(0,"PassengerId",test_id)
data.insert(1,"Survived",ans.int())
data.to_csv("data/model1_titanic.csv",index=False)